<div *ngIf="currentMenu === 'main'">
  <button (click)="mostrarMenu('1a')">1a</button>
  <button (click)="mostrarMenu('main')">3a</button>
  <button (click)="mostrarMenu('main')">5a</button>
</div>

<div *ngIf="currentMenu === '1a'">
  <div class="button-container">
    <button (click)="calcular()">Calcular</button>
  </div>

  <div class="input-container">
    <div style="margin: 20px;">
      <input type="text" 
             [(ngModel)]="inputValores" 
             placeholder="Ingresa 10 números separados por coma" />
    </div>
  </div>

  <div class="result-container">
    <p *ngIf="resultadoMedia !== null">Media: {{ resultadoMedia }}</p>
    <p *ngIf="resultadoStddev !== null">Desviación Estándar: {{ resultadoStddev }}</p>
  </div>
</div>
