<section class="header">
  <div id="nav_bar">
    <button
      routerLink="/media"
    >
      Media
    </button>
    <button
      routerLink="/stddev"
    >
      Standard Deviation
    </button>
    <button
      routerLink="/correlation"
    >
      Correlation
    </button>
    <button
      routerLink="/linear-regression"
    >
      Linear Regression
    </button>
    <button
      routerLink="/simpson"
    >
      Simpson
    </button>
    <button
      routerLink="/tstudent"
    >
      T-Student
    </button>
  </div>
</section>

<section class="body">
  <div id="container">
    <router-outlet></router-outlet>
  </div>
</section>